header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: .5em;
}
header > img{
    height: 5em;
    width: 5em;
    border-radius: 8em;
}
header > div{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#articles{
    height: 50%;
    width: 70%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card > a{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.card > a > img{
    height: 4em;
    width: 4em;
    border-radius: 4em;
}