{% load static %}
<link rel = "stylesheet" href = "{% static 'articles/styles/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'articles/styles/article.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <a id = "back" href = "{% url 'articles:frontpage' %}"> Back to frontpage </a>
        <header>
            <h1>{{ article.title }}</h1>
            <a href="{% url 'articles:profile' article.author.username %}">
                <img src="{% static 'sample.png' %}"> 
                <p>Author: {{ article.authorName }}</p> 
                <p>Posted on {{ article.published|date:'d F Y' }}</p>
            </a>
        </header>
        <div id = "article">
            {{ article.html | safe }}
        </div>
        <footer>
            <p>Codeticles</p>
            <img src="" alt="Github">
            <img src="" alt="VK">
            <img src="" alt="Telegram">
        </footer>
    </body>
</html>