{% load static %}
<link rel = "stylesheet" href = "{% static 'articles/styles/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'articles/styles/editor.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <header>
            <a id = "back" href = "{% url 'articles:frontpage' %}"> Back </a>
            <h1>Sample title</h1>
            <button onclick = "sendRequest();">Save</button>
            <input type="checkbox" name="autosave" id="autosave" value = "Autosave" checked>
        </header>
        <div id = "content"></div>
        <div id = "navbar">
            <button onclick = "titleSpawn();" >Add title</button>
            <button onclick = "paragrapghSpawn();" >Add paragraph</button>
        </div>        
    </body>
    <script src = "{% static 'articles/scripts/editor.js' %}"></script>
</html>