{% load static %}
<link rel = "stylesheet" href = "{% static 'articles/styles/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'articles/styles/frontpage.css' %}">

<!DOCTYPE html>
<html>
    <body>
        {% if request.user.is_authenticated %}
            <a href = "{% url 'articles:profile' request.user.username %}" id = "profile"></a>
            <a id = "back" href = "{% url 'articles:logout' %}"> Logout </a>
        {% else %}
            <div id = "back">
                <a href = "{% url 'articles:login' %}">Log in</a> 
                <a href = "{% url 'articles:signup' %}">Sign up</a>
            </div>
        {% endif %}
        <div id = "welcome">
            <h1>Welcome {{user.username}} to Codeticles!</h1>
            <p>Explore wide range of articles on different coding related topics</p>
        </div>

        <h1>Trending</h1>
        <div class = "carousel" id = "trending">
            {% for post in trending %}
                <div class = "article">
                    <h1><a href = "{% url 'articles:article' post.url %}">{{post.title}}</a></h1>
                    <a href="{% url 'articles:profile' post.authorUsername %}">
                        <img src="{% static 'sample.png' %}"> 
                        <p>Author: {{post.authorName}}</p> 
                    </a>
                </div>
            {% endfor %}
        </div>

        <h1>Popular</h1>
        <div class = "carousel" id = "fresh">
        </div>

        <h1>Most liked this week</h1>
        <div class = "carousel" id = "liked">
        </div>
        <footer>
            <p>Codeticles</p>
            <img src="" alt="Github">
            <img src="" alt="VK">
            <img src="" alt="Telegram">
        </footer>
    </body>
</html>
<style>
    #profile{
        background-image: url("{% static 'sample.png' %}");
        background-size: contain;
    }
</style>