{% load static %}
<link rel = "stylesheet" href = "{% static 'articles/styles/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'articles/styles/frontpage.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <a href = "{% url 'articles:profile' %}" id = "profile"></a>
        <div id = "welcome">
            <h1>Welcome to Codeticles!</h1>
            <p>Explore wide range of articles on different coding related topics</p>
        </div>
        <h1>Trending</h1>
        <div class = "carousel" id = "trending">
            {% for i in range10 %}
                <div class = "article">
                    <h1><a href = "{% url 'articles:article' %}">Sample Title</a></h1>
                    <a href="{% url 'articles:profile' %}">
                        <img src="{% static 'sample.png' %}"> 
                        <p>Author: Sam Hyde</p> 
                    </a>
                </div>
            {% endfor %}
        </div>
        <h1>Popular</h1>
        <div class = "carousel" id = "fresh">
            {% for i in range3 %}
                <div class = "article">
                    <h1><a href = "{% url 'articles:article' %}">Sample Title</a></h1>
                    <a href="{% url 'articles:profile' %}">
                        <img src="{% static 'sample.png' %}"> 
                        <p>Author: Sam Hyde</p> 
                    </a>
                </div>
            {% endfor %}
        </div>
        <h1>Most liked this week</h1>
        <div class = "carousel" id = "liked">
            {% for i in range10 %}
                <div class = "article">
                    <h1><a href = "{% url 'articles:article' %}">Sample Title</a></h1>
                    <a href="{% url 'articles:profile' %}">
                        <img src="{% static 'sample.png' %}"> 
                        <p>Author: Sam Hyde</p> 
                    </a>
                </div>
            {% endfor %}
        </div>
        <footer>
            <p>Codeticles</p>
            <img src="" alt="Github">
            <img src="" alt="VK">
            <img src="" alt="Telegram">
        </footer>
    </body>
</html>
<style>
    #profile{
        background-image: url("{% static 'sample.png' %}");
        background-size: contain;
    }
</style>