{% load static %}
<link rel = "stylesheet" href = "{% static 'articles/styles/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'articles/styles/form.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <form id = "form" method = "post" action = "{% url 'articles:auth' %}">
            {% csrf_token %}
            <h1>Email</h1>
            <input type = "email" name = "email" id = "email">
            <h1>Password</h1>
            <input type = "password" name = "password" id = "password">
        </form>
        <button onclick = "sendForm();" >Login</button>
    </body>
    <script src = "{% static 'articles/scripts/form.js' %}"></script>
</html>