{% load static %}
<link rel = "stylesheet" href = "{% static 'articles/styles/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'articles/styles/profile.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <a id = "back" href = "{{request.META.HTTP_REFERER}}"> Back </a>
        <header>
            <img src = "{% static 'sample.png' %}">
            <h1>{{ user.get_full_name }}</h1>
            <div>
                <p> Subscribers: 228</p>
                <p> Likes: 420</p>
            </div>
            <div>
                {% if request.user.is_authenticated %}
                    {% if request.user == user %}
                        <button>Create new article</button>
                    {% else %}
                        <button>Subscribe</button>
                    {% endif %}
                {% else %}
                    <p>To subscribe you need to be logged in</p>
                    <div>
                        <a href = "{% url 'articles:login' %}">Log in</a>
                        <a href = "{% url 'articles:signup' %}">Sign up</a>
                    </div>
                {% endif %}
            </div>
        </header>
        <h1>Articles</h1>
        <div id = "articles">
            {% for post in posts %}
                <div class = "card">
                    <h1><a href = "{% url 'articles:article' post.url %}">{{post.title}}</a></h1>
                    <a href="{% url 'articles:profile' post.authorUsername %}">
                        <img src="{% static 'sample.png' %}"> 
                        <p>Author: {{post.authorName}}</p> 
                    </a>
                </div>
            {% endfor %}
        </div>
        <footer>
            <p>Codeticles</p>
            <img src="" alt="Github">
            <img src="" alt="VK">
            <img src="" alt="Telegram">
        </footer>
    </body>
</html>