{% load static %}
<link rel = "stylesheet" href = "{% static 'articles/styles/universal.css' %}">
<link rel = "stylesheet" href = "{% static 'articles/styles/form.css' %}">

<!DOCTYPE html>
<html>
    <body>
        <form id = "form" method = "post">
            {% csrf_token %}
            <h1>Email</h1>
            <input type = "email" name = "email" id = "email">
            <h1>Username</h1>
            <input type = "text" name = "username" id = "username">
            <h1>First name</h1>
            <input type = "text" name = "first_name" id = "first_name">
            <h1>Last name</h1>
            <input type = "text" name = "last_name" id = "last_name">
            <h1>Password</h1>
            <input type = "password" name = "password1" id = "password1">
            <h1>Confirm password</h1>
            <input type = "password" name = "password2" id = "password2">
        </form>
        <button onclick = "sendForm();" >Register</button>
    </body>
    <script src = "{% static 'articles/scripts/form.js' %}"></script>
</html>